Package: vendo
Architecture: arm64
Depends: libxkbcommon0,
  libegl1-mesa,
  libdrm2,
  libgbm1,
  libudev1,
  libsystemd0,
  libfontconfig1,
  libinput10,
  libc6 (>= 2.34.0)
Maintainer: Fabian <l2c32bkd@duck.com>
Homepage: https://github.com/hfxbse/vendo
Description: Drink vending machine firmware and user interface
